{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "ignorePatterns": [
    "!.*",
    "**/node_modules/.*",
    "build/",
    "src/reportWebVitals.js"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}